<div class="sidebar">
  <div class="sidebar_authors">
    <a href="/authors">
      <img src="../images/boxer.jpg" alt="boxer" />
      <h3>AUTHORS</h3>
    </a>
  </div>
  <div class="sidebar_books">
    <a href="/books">
      <img src="../images/books.jpg" alt="bookstack" />
      <h3>BOOKS</h3>
    </a>
  </div>
</div>

<div class="author_container">

  <button class='addbutton'>
    <a href="/authors/add">Add a New Author</a>
  </button>

  <hr>

  {{#authors}}
  <div class="border">

    <div class="individual_author">
      <img src="{{img_url}}" alt="pic of author" />

      <div class="author_info">
        <h3><a class='name' href="/authors/{{id}}">{{first}} {{last}}</a></h3>
        <p>{{bio}}</p>
        <h5>Books by {{first}}</h5>
        <div class="author_book_container">
          <ul>
            {{#books}}
            <a href="/authors/{{author_id}}/edit">
              <li>{{title}}</li>
            </a>

            {{/books}}
          </ul>
        </div>
        <a href="/authors/{{id}}/edit">Edit this Author</a>
      </div>

    </div>
    <div class="author_buttons">
      <a href="/authors/{{id}}/delete">
        <button>Remove This Author</button>
      </a>
    </div>

  </div>
  {{/authors}}
</div>
