<div class="sidebar">
  <div class="sidebar_authors">
    <img src="../images/boxer.jpg" alt="boxer" />
    <h3><a href="/authors">Authors</a></h3>
  </div>
  <div class="sidebar_books">
    <img src="../images/books.jpg" alt="bookstack" />
    <h3><a href="/books">Books</a></h3>
  </div>
</div>

<div class="book_container">

  {{#books}}
  <div class="individual_book">
    <img src="{{cover_url}}" alt="pic of book cover" />

    <div class="book_info">
      <div class="book_heading">
        <div class="book_name">
          <h3><a href="/books/{{id}}">{{title}}</a></h3>
          {{#authors}}
          <h4>{{first}} {{last}}</h4>
          {{/authors}}
        </div>
        <div class="book_buttons">
          <a href="/books/{{book_id}}/edit">
            <button>Edit</button>
          </a>
          <a href="/books/{{book_id}}/delete">
            <button>Delete</button>
          </a>
        </div>
      </div>
      <h5>{{genre}}</h5>
      <p>{{description}}</p>
    </div>

  </div>
  <hr>
  {{/books}}

</div>
