<div class="sidebar">
  <div class="sidebar_authors">
    <a href="/authors">
      <img src="../images/boxer.jpg" alt="boxer" />
      <h3>AUTHORS</h3>
    </a>
  </div>
  <div class="sidebar_books">
    <a href="/books">
      <img src="../images/books.jpg" alt="bookstack" />
      <h3>BOOKS</h3>
    </a>
  </div>
</div>

<div class="book_container">

  <button class='addbutton'>
    <a href="/books/add">Add a New Book</a>
  </button>

  <hr>
  {{#books}}
  <div class="border">

    <div class="individual_book">
      <img src="{{cover_url}}" alt="pic of book cover" />

      <div class="book_info">
        <div class="book_name">
          <h3><a href="/books/{{id}}">{{title}}</a></h3>
          {{#authors}}
          <h4>{{first}} {{last}}</h4>
          {{/authors}}
        </div>
        <h5>{{genre}}</h5>
        <p>{{description}}</p>
        <a href="/books/{{id}}/edit">Edit This Book</a>

      </div>
    </div>
    <a href="/books/{{id}}/delete">
      <button>Delete This Book</button>
    </a>
  </div>
  {{/books}}

</div>
