<div class="sidebar">
  <div class="sidebar_authors">
    <img src="../../images/boxer.jpg" alt="boxer" />
    <h3><a href="/authors">Authors</a></h3>
  </div>
  <div class="sidebar_books">
    <img src="../../images/books.jpg" alt="bookstack" />
    <h3><a href="/books">Books</a></h3>
  </div>
</div>

{{#author}}
<div class="edit">
  <form class='edit' action="/authors/{{id}}" method="post">
    <label>First Name</label>
    <input type="text" name="first" value="{{first}}">
    <label>Last Name</label>
    <input type="text" name="last" value="{{last}}">
    <label>Portrait URL</label>
    <input type="text" name="img_url" value="{{img_url}}">
    <label>Biography</label>
    <textarea name="bio" rows="6" value="{{bio}}">{{bio}}</textarea>
    <label>Books</label>
    <div class="author_book_container">

      {{#books}}
      <label>
        <input type="checkbox" name=checkbox value={{book_id}}"">
        <a href="/books/{{book_id}}">
          {{title}}
        </a>
      </label>
      {{/books}}

    </div>
    <input type="submit" value="Edit Author">
  </form>
</div>
{{/author}}
