<div class="sidebar">
  <div class="sidebar_authors">
    <a href="/authors">
      <img src="../../images/boxer.jpg" alt="boxer" />
      <h3>Authors</h3>
    </a>
  </div>
  <div class="sidebar_books">
    <a href="/books">
      <img src="../../images/books.jpg" alt="bookstack" />
      <h3>Books</h3>
    </a>
  </div>
</div>

{{#book}}
<div class="edit">
  <form class='edit' action="/books/{{id}}" method="post">
    <label>Title</label>
    <input type="text" name="title" value="{{title}}">
    <label>Genre</label>
    <input type="text" name="genre" value="{{genre}}">
    <label>Cover URL</label>
    <input type="text" name="cover_url" value="{{cover_url}}">
    <label>Description</label>
    <textarea name="description" rows="6" value="{{description}}">{{description}}</textarea>
    <label>Authors</label>

    {{#authors}}
    <label>
      <input type="checkbox" name="checkbox" value="{{author_id}}">
      <a href="/authors/{{author_id}}">
        {{first}} {{last}}
      </a>
    </label>
    {{/authors}}

  </form>
</div>
{{/book}}
