
{{#book}}
<div class="edit">
  <form class='edit' action="/books/{{id}}" method="post">
    <label>Title</label>
    <input type="text" name="title" value="{{title}}">
    <label>Genre</label>
    <input type="text" name="genre" value="{{genre}}">
    <label>Cover URL</label>
    <input type="text" name="cover_url" value="{{cover_url}}">
    <label>Description</label>
    <textarea name="description" rows="6" value="{{description}}">{{description}}</textarea>
    <label>Authors</label>

    {{#authors}}
    <label>
      <input type="checkbox" name="checkbox" value="{{author_id}}">
      <a href="/authors/{{author_id}}">
        {{first}} {{last}}
      </a>
    </label>
    {{/authors}}

  </form>
</div>
{{/book}}
