<div class="sidebar">
  <div class="sidebar_authors">
    <img src="../../images/boxer.jpg" alt="boxer" />
    <h3><a href="/authors">Authors</a></h3>
  </div>
  <div class="sidebar_books">
    <img src="../../images/books.jpg" alt="bookstack" />
    <h3><a href="/books">Books</a></h3>
  </div>
</div>

{{#book}}
<div class="edit">
  <form class='edit' action="/books/{{id}}" method="post">
    <label>Title</label>
    <input type="text" name="title" value="{{title}}">
    <label>Genre</label>
    <input type="text" name="genre" value="{{genre}}">
    <label>Cover URL</label>
    <input type="text" name="cover_url" value="{{cover_url}}">
    <label>Description</label>
    <textarea name="description" rows="6" value="{{description}}">{{description}}</textarea>
    <label>Author</label>
    <!-- <div class="author_li">
      {{#authors}}
      <h3>{{first}} {{last}}</h3>
      <form class=""action="index.html" method="post">
        <input type="button" value="Delete Author">
      </form>
      {{/authors}}
    </div> -->
    <!-- <form action="/addbook" method="post">
      <input type="submit" value="Add Author">
    </form>
    <div class="author_book_container">
    </div> -->
    <input type="submit" value="Edit Book">
  </form>
</div>
{{/book}}
